{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}
</head>
<body bgcolor="#00ffff"text="#b8860b">
    <h1>Welcome to Digital Business tehnology Program </h1>
    <h2>This is DBAp Course</h2>
    <h2> I love jintana</h2>
    <p>
        We can go all the time
We can move fast, then rewind
When you put your body on mine
And collide, collide
It could be one of those nights
But we don't turn off the lights
Wanna see your body on mine
And collide, collide
Baby it's all yours if you want me, all yours if you want me
Put it down if you want me (tonight)
Said it's all yours if you want me, all yours if you want me
Put it down if you want me (Let's collide)
</p>
<br>
<br>
        <a href="/secondpage">Go To First Page</a>
        <br>
        <a href="/thirdpage">Go To Third Page</a>

{% endblock %}